# Ambientes virtuais
.venv/
venv/
env/

# Variáveis de ambiente (segredos)
.env

# Relatórios gerados
reports/*.png
reports/*.pdf
reports/*.csv

# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribuição / build
dist/
build/
*.egg-info/

# IDEs
.vscode/settings.json
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# Logs
*.log
